<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="ticket.title" class="form-control" id="title" placeholder="Ticket title"/>
    </div>
</div>
<div class="form-group">
    <label for="owner" class="col-sm-2 control-label">Owner</label>
    <div class="col-sm-10">
        <input type="text" ng-model="ticket.owner" class="form-control" id="owner" placeholder="Ticket owner"/>
    </div>
</div>
<div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
        <input type="text" ng-model="ticket.price" class="form-control" id="price" placeholder="Ticket price"/>
    </div>
</div>

<div class="form-group">
    <label for="category" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-10">
        <input type="text" ng-model="ticket.category" class="form-control" id="category" placeholder="Ticket category"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>