<table class="table tickettable">
    <tr>
        <td><h3>Details for {{ticket.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Ticket Title</td>
        <td>{{ticket.title}}</td>
    </tr>
    <tr>
        <td>Owner</td>
        <td>{{ticket.owner}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{ticket.price}}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{ticket.category}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editTicket({id:ticket._id})">Edit</a>
</div>