html 
    overflow-y scroll
body
	margin-bottom 30px
.input-group 
    margin-bottom 10px
.btn
	margin-bottom 10px
div.posterimg
	width 100%
	height 150px
	background-repeat no-repeat
	background-position center center 
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	border-radius 5px
.description, .title
	width 100%
	white-space nowrap
	overflow hidden
	text-overflow ellipsis 
.description:empty:before
	content "Geen beschrijving beschikbaar"
div.event.posterimg
	height 300px
	margin-bottom 10px	
span.tag:before
	content: "#"
span.tag
	background-color lightgrey
	padding 10px
	border-radius 5px
	margin-right 5px
	margin-top 20px
p.description.event
	margin-bottom 20px
.pe-lg
	vertical-align middle
	font-size 1.3333333333333333em
.pe-2x
	font-size 2em
.pe-va
	vertical-align middle