script.
    nickname = "#{nick}";
script(src='/socket.io/socket.io.js')
script(src='/javascripts/chat2.js')

block content
    h1 Group Chat
        textarea#Text
        input#input(type='text')
        button#chat(type='submit') Send Message
        textarea#Clients