doctype html
html
  head
  script(src="/socket.io/socket.io.js")
    title Chat
  body
    section
        input(id="inpClient", type="text")
        div(id="messages")
    script(src="/javascripts/chat.js")