extends layout

block content
  h1= title
    p Welcome to #{title}
        br
        a(href='/login') Login
        br
        a(href='/signup') Signup
        br
        a(href='/auth/facebook') Facebook