extends layout

block content
    h1 Login
    form(role='form',action='/login',method='post')
        input(type='text',name='email',placeholder='email')
        input(type='password',name='password',placeholder='password')
        button(type='submit') Login