extends layout

block content
    h1 Profile
    h2 Welcome #{user._id}
    h3 #{user.facebook.name}
    h4 #{user.facebook.email}
    p
            a(href='/tickets/') Overview Tickets
    p
            a(href='/tickets/mytickets') View my tickets
    p
            a(href='/logout') Logout