extends layout

block content
    h1 #{title}
    p Welcome #{user.local.firstname}!
    p
            a(href='/tickets/') View all tickets
    p
            a(href='/tickets/mytickets') My submitted tickets
    p
            a(href='#') Change my profile details