extends layout

block content
    h1 Profile
    p Welcome #{user.local.email}!
    p
            a(href='/tickets/') View all tickets
    p
            a(href='/tickets/mytickets') My submitted tickets
    p
            a(href='#') Change my profile details
    p
            a(href='/logout') Logout