extends ../layout

block content
    h1=title
    a.btn.btn-primary(href="/events/new", style="margin-bottom: 10px;") Add new event
    .row
        - for(var event in eventslist) {
        .col-md-3
            p 
                | Event name: 
                br
                b 
                    =eventslist[event].name
                br
                | Description:
                br
                b
                    =eventslist[event].description
                br
            a.btn.btn-info(href="/events/#{eventslist[event]._id}") Show
        - };