extends ../layout

block content
    h1=title
    p
        a(href="/events/new") Add New Event
    ul
        - for(var event in eventslist) {
        li
            =eventslist[event].name
            br
            p
                a(href='/events/#{eventslist[event]._id}') Show
        - };
