extends ../layout

block content
    h1=title
    p
        a(href="/tickets/new") Add New Ticket
    ul
            - for(var ticket in ticketslistuser) {
            li
                =ticketslistuser[ticket].name
                br
                p
                    a(href='/tickets/#{ticketslistuser[ticket]._id}') Show
                p
                    a(href='/tickets/#{ticketslistuser[ticket]._id}/edit') Edit
                p
                    a(href='/tickets/#{ticketslistuser[ticket]._id}/delete') Delete
            - };