extends layout

block content
    h1 #{title}
    if (messages)
        if (messages.length > 0)
            .alert.alert-dismissable.alert-danger
                button.close( type="button", data-dismiss="alert" ) x 
                | #{messages}
    form(role='form',action='/login',method='post')
        .form-group
            label(for='email') Email address:
            input(type='email',name='email', class='form-control')
        .form-group
            label(for='password') Password:
            input(type='password',name='password', class='form-control')
        button(type='submit', class='btn btn-default') Sign in